.clustersCardsContainer {
  width: 100%;
  padding: 1em 2em 2em 2em;
}
.clustersCardsContainer .clustersCardsContentCx{

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox {
  position: relative;
  width: 16rem;
  height: 20rem;
  margin: 10px;
  text-align: center;
  background: linear-gradient(to right, #647BE5, #3FBCEB);
  border-radius: 0.3em;
  box-shadow: rgba(148, 176, 200, 0.15) 0px 2px 8px;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox.active{
  position: fixed;
  z-index: 100;
  height: 80%;
  width: 80%;
  margin-top: -8em;
  transition: 0.5s;
  box-shadow: rgba(148, 176, 200, 0.15) 0px 2px 8px;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardFrontBox {
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 97%;
  height: 97%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em;
  background-color: white;
  border-radius: 0.3em;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardFrontBox .nsFrontName {
  color: #3D3337;
  font-weight: 700;
  font-size: 1.25rem;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardFrontBox .nsFrontStatus {
  color: #4EA65D;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;

  background-color: #F7FAF7;
  border-radius: 0.3em;
  letter-spacing: 1px;
  opacity: 0;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox .nsCardBackButtonCx,
.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardExpandedBox .nsCardBackButtonCx
{
  text-align: right;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox .nsCardBackMaximize,
.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardExpandedBox, .nsCardBackMaximize {
  all: unset;
  color: #272FA3;
  cursor: pointer;
}

.nsAnimation {
  width: 100%;
  height: 40%;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox .nsBackAttribute {
  color: black;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.7rem;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox .nsBackValue {
  color: #272FA3;
  font-weight: 400;
  font-size: 1.2rem;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox:hover
{
  opacity: 1;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardBackBox ul {
  list-style: none;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardFrontBox .svgContainer {
  width: 12rem;
  height: 12rem;
  display: inline-block;
  margin: auto;
}

.clustersCardsContainer .clustersCardsContentCx .namespaceCardBox .nsCardExpandedBox
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  z-index: 1000;

  background-color: #F7FAF7;
  letter-spacing: 1px;

  overflow: scroll;
}
.dimmer {
  z-index: -100;
}
.dimmer.active{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.6);  ;
}

.nsCardExpandedContent {
  display: flex;
}

.objectCardExpandHeader {
  color: black;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

.objectsCardInfoCx {
  width: 100%
}

.objectCardInfo {
  
  background-color: #1b2383;
  color: #F7FAF7;

  border-radius: 0.3rem;
  padding: 0.5rem;
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.objectCardName {
  text-align: left;
  font-weight: 200;
  margin: 8px;
  cursor: default; 
}

.objectCardName:hover {
  font-weight: 500;
  color: #3D4AFF
}

.objectCardInfo.active {
  opacity: 1;
  z-index: 100;
}
.objectCardInfo ul {
  list-style: none;
  text-align: left;
}

.deplsCardInfoCx,
.podsCardInfoCx,
.servicesCardInfoCx
{
  width: 100%;
}

.objectCardInfoProp{
  font-weight: 200;
  font-size: 80%;
  color: #F7FAF7;
}

.objectCardInfoAttr {
  font-weight: 400;
  font-size: 90%;
  color: #E7C29A;
}