.clusterHeaderCx {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clusterHeader {
  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 0 0 10em 10em;
  
  background: white url(./images/waves-opaque.png) ;
  background-size: cover;
  background-position: center;

  color: #03021E;
  padding: 0em 1em 1em 1em;
  margin-bottom: 1em;
  width: 16em;
  height: 8em;

}

#overview {
  letter-spacing: 1rem;
  font-variant-caps: small-caps;
  font-weight: bold;
  color: white;
  margin-left: 0.4em;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

td {
  padding: 0.5em;
  background-color: white;
  border-radius: 0.2em;
  color: #1b2383;
  min-width: 2em;
  max-width: 8em;
  text-align: center;
}

#objectcount {
  font-size: large;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin: 0.5em;

  border-color: #1b2383;
  background-color: #1b2383;
  color: white;
}

.tooltip:hover {
  border-color: #3FBCEB;
  background-color: #3FBCEB;
  color: white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  padding: 0.5rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  background-color: #1b2383;
  color: white;
  font-size: small;
  width: 10rem;
}

#leftTT {
  top: 105%;
  right: 105%;
}

#centerTT {
  top: 105%;
  right: 105%;
}

#rightTT {
  top: 105%;
  left: 105%;
}