.ResourcesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
}

.CpuMemoryContainer {
  display: flex;
  gap: 2em;
  margin: 2em;
}

.ClusterResourcesContainer {
  display: flex;
}

.TotalCpuMemoryContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0.5em;
  background-color: aliceblue;
}

.CpuUsageContainer {
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0.5em;
  background-color: aliceblue;
}

.MemUsageContainer {
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0.5em;
  background-color: aliceblue;
}

.ClusResDispContainer {
  display: flex;
  flex-direction: column;
}

.ClusResCardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.ResourcesList {
  list-style: none;
}