@import url('https://fonts.googleapis.com/css?family=Noto+Sans:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #03021E;
  
}

/*
html, body {
  height: 100%;
}
/*
.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

root {
  width: 100%;
  height: 100%;
}
*/